<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="village.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <applicationSettings>
    <village.Properties.Settings>
      <setting name="database" serializeAs="String">
        <value>C:\village\a-haapa\village\villageDB</value>
      </setting>
      <setting name="table1" serializeAs="String">
        <value>asiakas</value>
      </setting>
      <setting name="table2" serializeAs="String">
        <value>lasku</value>
      </setting>
      <setting name="table3" serializeAs="String">
        <value>varaus</value>
      </setting>
      <setting name="table4" serializeAs="String">
        <value>posti</value>
      </setting>
      <setting name="table5" serializeAs="String">
        <value>mokki</value>
      </setting>
      <setting name="table6" serializeAs="String">
        <value>toimintaalue</value>
      </setting>
      <setting name="table7" serializeAs="String">
        <value>palvelu</value>
      </setting>
      <setting name="table8" serializeAs="String">
        <value>varauksen_palvelut</value>
      </setting>
    </village.Properties.Settings>
  </applicationSettings>
</configuration>